<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <servlet>
    <servlet-name>CadastrarRestaurante</servlet-name>
    <servlet-class>restaurante.controller.CadastrarRestaurante</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CadastrarRestaurante</servlet-name>
    <url-pattern>/CadastrarRestaurante</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>CadastrarRestaurante</servlet-name>
    <url-pattern>/CadastrarRestaurante</url-pattern>
  </servlet-mapping>
  
</web-app>